* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: darkblue;
}


nav {
    background-color: var(--heading-background-color, darkblue);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
   }

h1 {
    color: var(--heading-background-color, darkblue);
    border-bottom:2px solid #000;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}
main {

  grid-column: 2/3;
  margin: 1rem;
}


header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}


aside {
    width:20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}
aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 80px;
}

main img {
    width: 155px;
    height: auto;
    border: 1px #000;
    padding: 1rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.2);
    float: right;
    margin: 0 0 1rem 1rem;
    
    

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}




.box {
    margin: 1em;
    border: 1px solid rgba (0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}
.grid {
  display: grid;
  align-items: center;
}